*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    background-color: rgba(111, 245, 227, 0.959);
    color: rgb(22, 21, 20);
}

.padd{
    padding: 20px;
}

.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.opened{
    display: none;
}

.card{
    height: 300px;
    width: 18%;
    background-color: red;
    margin-top: 20px;
    background-size: cover;
}

.overlay{
    height: 300px;
    width: 100%;
    background-color: rgb(122, 167, 224);
}

